<div>
  <h3>This is Servers Component!</h3>
</div>

<!-- ### Event Binding ### -->
<div class="mt-4 form-group">
  <label class="control-label">Server Name (Event Binding)</label>
  <input type="text" class="form-control" (input)="onUpdateServerName($event)">
</div>
<!-- ### Event Binding ### -->

<!-- ### Two Way Data Binding ### -->
<div class="mt-3 form-group">
  <label>Server Name (Two Way Binding)</label>
  <input type="text" class="form-control" [(ngModel)]="serverName">
</div>
<!-- ### Two Way Data Binding End ### -->

<div class="mt-3">
  <p>{{ serverName }}</p>
</div>
<div class="mt-3">
  <button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreateServer()">Add Server</button>
</div>
<div class="mt-3">
  <p>{{ serverCreatedStatus }}</p>
</div>

<!-- ### Use of ngIf ### -->
<div *ngIf="serverCreated" class="mt-3">
  <p>Server was created! And Name of the server is : {{ serverName }}</p>
</div>
<!-- ### Use of ngIf End ### -->
<hr/>

<!-- ### Use of ngIf-Else ### -->
<div class="mt-3">
  <h5 class="mb-3">Example of ngIf-Else:</h5>
  <p *ngIf="serverCreated; else noServer">Server was created! And Name of the server is : {{ serverName }}</p>
  <ng-template #noServer>
    <p>No Server was Created!</p>
  </ng-template>
</div>
<!-- ### Use of ngIf-Else End ### -->

<!-- ### Static Server Components ### -->
<div class="mt-4">
  <h5 class="mb-3">Static Servers :</h5>
  <app-server></app-server>
  <app-server></app-server>
</div>
<!-- ### Static Server Components End ### -->

<!-- ### Dynamic Server Components ### -->
<div class="mt-4">
  <h5 class="mb-3">Dynamic Servers :</h5>
  <app-server *ngFor="let server of servers"></app-server>
</div>
<!-- ### Dynamic Server Components End ### -->